extends ../layout
block content
	.container.nav-top.panelPratico
		.panel.panel-default
			.panel-heading.text-center
				h3
					span.fa.fa-book  Aulas Tóricas  
			.panel-body
				ul.nav.nav-tabs.red
					li.active(role="presentation")
						a(href="#mainTeorico", data-toggle="tab") Pacote de Aulas
					li(role="presentation")
						a(href="#menuT1", data-toggle="tab") Aulas do Aluno
					li(role="presentation")
						a(href="#menuT2", data-toggle="tab") Aulas do Instrutor
					li(role="presentation")
						a(href="#menuT3" data-toggle="tab") Aulas do Veículo
				.tab-content
					.tab-pane.active.fade.in#mainTeorico
						.col-xs-12.col-sm-12.col-md-12
							.form-group
								.inner-addon.left-addon
									i(style="color: white").glyphicon.glyphicon-plus
									input.btn.btn-primary(type="submit", value="Novo Pacote", data-toggle="modal", data-target="#pacoteModal")
						.col-xs-12.col-sm-12.col-md-12
							.panel.panel-info
									.panel-heading
										h4 Pacotes
									.panel-body
										if messages.erro
											.alert.alert-danger#success-alert
												p #{messages.erro}
											br
										if messages.info
											.alert.alert-success#success-alert
												p #{messages.info}
											br
										if pacote.length > 0
											.table-responsive
												table.table.table-striped.listar-usuarios
													thead
														tr
															th Nome:
															th Agendar:
															th Excluir:
													tbody
														each i in pacote
															tr
																td #{i.pacote.nome}
																td 
																	a.btn.btn-primary(href="/cadastrar/pacote/#{i._id}")
																		span.glyphicon.glyphicon-pencil
																td
																	a.btn.btn-danger(href="/teorico/excluir/#{i._id}")
																		span.glyphicon.glyphicon-trash
										else
											p Nenhum Pacote
										


					.tab-pane.fade#menuT1
						.col-xs-12.col-sm-12.col-md-12
							.panel.panel-default
										.panel-heading
											.panel-title
												h4 Agendamento de Aulas Teóricas
												br
	.modal.fade#pacoteModal(role="dialog",aria-labelledby="pacoteModal", aria-hiden="true")
		.modal-dialog.modal-md
			.modal-content
				form(role="form", action="/cadastrar/pacote", method="POST")
					.modal-header
						button.close(type="button",data-dismiss="modal", aria-label="Close")
							span(aria-hiden="true") &times;
						h4 Novo Pacote &nbsp;
							i.glyphicon.glyphicon-plus
					.modal-body
						.row
							.col-xs-12.col-sm-12.col-md-8
								.form-group
									label Nome do Pacote
									input.form-control(type="text", name="pacoteNome",required)
									fieldset
										input.timepicker(type="text", readonly, aria-haspopup='true', aria-expanded="false", aria-readonly="false")		
					.modal-footer
						.form-group
							.inner-addon.right-addon
								i(style="color: white").glyphicon.glyphicon-plus
								input.btn.btn-primary(type="submit", value="Criar")