extends ../layout
block content
	section.container.nav-top.panelPratico
		.panel.panel-default
			.panel-heading.text-center
				h3
					span.fa.fa-car  Aulas Práticas  
			.panel-body
				ul.nav.nav-tabs.red
					li.active(role="presentation")
						a(href="#main", data-toggle="tab") Agendamento de Aulas
					li(role="presentation")
						a(href="#menu1", data-toggle="tab") Aulas do Aluno
					li(role="presentation")
						a(href="#menu2", data-toggle="tab") Aulas do Instrutor
					li(role="presentation")
						a(href="#menu3" data-toggle="tab") Aulas do Veículo
				.tab-content
					.tab-pane.active.fade.in#main
						.col-xs-12.col-sm-12.col-md-12
							.panel.panel-default
										.panel-heading
											.panel-title
												h4 Agendamento de Aulas
												br
											if messages.erro
												.alert.alert-danger#success-alert
													p #{messages.erro}
												br
											if messages.info
												.alert.alert-success#success-alert
													p #{messages.info}
												br
										.panel-body
											form(role="form", action="", method="")
												.row
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label CPF do Aluno
															.input-group
																input.form-control.cpf#cpf(type="text", value="",name="cpfAluno" ,placeholder="CPF",tabindex='1')
																span(tabindex='2').input-group-addon#searchAluno
																	span.glyphicon.glyphicon-search
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Instrutor
															select.form-control#selIns(value="" ,placeholder="Instrutor",tabindex='3')
																option(value="", disabled, selected)
																each instrutor in lista_instrutor 
																	option#optIns(value="#{instrutor._id}") #{instrutor.nome}
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Veículo
															select.form-control#selVeic(type="text",tabindex='4')
																option(value="", disabled, selected)
																each veiculo in lista_veiculo
																	option#optVeic(value="#{veiculo._id}") #{veiculo.nome + ' / '} #{veiculo.placa}
							.row
								.col-xs-12.col-sm-12.col-md-12.afterAjax
									.panel.panel-danger
										.panel-heading
											.panel-title
												h4
													span.fa.fa-cogs   Dados da Aula	
										.panel-body
											.col-xs-12.col-sm-8.col-md-8
												.input-group.date
													//-input.form-control(type="text")#datetimepicker
													label Data
													input.calendario.form-control(type="text",readyonly,tabindex='5')
											.col-xs-12.col-sm-8.col-md-8
												.panel.panel-default#horarios
													.panel-heading
														.panel-title
															h5
																label Horários
													.panel-body
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="7:00")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="7:50")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="8:40")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="9:20")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="10:10")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="13:00")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="13:50")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="14:40")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="15:30")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="16:20")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="17:10")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="18:00")
											form#praticaForm(action="/agenda/aula/pratica", method="POST")
												.col-xs-12.col-sm-4.col-md-4
													.row.alunoPratico
														.col-xs-12.col-sm-12.col-md-12
															img#loadCalendar.img(src="../img/ajax-loader-calendar.gif")
															.form-group
																label Aluno:
																input.form-control(type="text", readonly,value="",required)#aluno
																input.shadowForm#al(type="hidden",name="aluno")
													.row.aulaPratica
														.col-xs-6.col-sm-6.col-md-6#aulaCarro
															img#loader.img(src="../img/ajaxLoader.gif")
															.form-group
																label Carro:
																input.form-control(type="text",value="", readonly, required)#aulasCarro
														.col-xs-6.col-sm-6.col-md-6#aulaMoto
															.form-group
																label Moto:
																input.form-control(type="text",value="", readonly, required)#aulasMoto
													.row.instrutorPratico
														.col-xs-6.col-sm-6.col-md-12
															.form-group
																label Instrutor:
																input.form-control(type="text",value="", readonly, required)#instrutor
																input.shadowForm#ins(type="hidden",name="instrutor")
													.row.veiculoPratico
														.col-xs-6.col-sm-6.col-md-12
															.form-group
																label Veículo:
																input.form-control(type="text",value="", readonly, required)#veiculo
																input.shadowForm#veic(type="hidden",name="veiculo")
													.row.dataAula
														.col-xs-6.col-sm-6.col-md-12
															.form-group
																label Data Aula:
																input.form-control(name="data",type="text",value="", readonly, required)#data
																input(type="hidden")#dataMongo
																
													.row
														.col-xs-12.col-sm-12.col-md-12
															button.btn.btn-danger.btn-lg.btn-block#confAulaPr(type="submit", value="Confirmar Aula") Confirmar Aula
											
														

						
							
					.tab-pane.fade#menu1
						.col-xs-12.col-sm-12.col-md-12
							.panel.panel-default
										.panel-heading
											.panel-title
												h4 Consultar Aulas do Aluno
												br
										.panel-body
											form#aulaAlunoForm(role="form", action="/aula/aluno", method="POST")
												.row
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label CPF do Aluno
															.input-group
																input.form-control.cpf(type="text", value="",name="cpfA" ,placeholder="CPF",tabindex='1', required)
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Data Inicial
															.input-group
																input.form-control.calendario(name="dataIniAluno",type="text", tabindex="2", required)
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Data Final
															.input-group
																input.form-control.calendario(name="dataFinAluno",type="text",tabindex="3", required)
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															input#relatorioAluno.form-control.btn.btn-danger(type="submit", value="Gerar Relatório", required)
					.tab-pane.fade#menu2
						.col-xs-12.col-sm-12.col-md-12
							.panel.panel-default
										.panel-heading
											.panel-title
												h4 Consultar Aulas do Instrutor
												br
										.panel-body
											form#aulaAlunoForm(role="form", action="/aula/instrutor", method="POST")
												.row
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Instrutor
															select.form-control#selIns(name="cInstrutor",placeholder="Instrutor",tabindex='3')
																option(value="", disabled, selected)
																each instrutor in lista_instrutor 
																	option#optIns(value="#{instrutor._id}") #{instrutor.nome}
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Data Inicial
															.input-group
																input.form-control.calendario(type="text", tabindex="2", required)
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Data Final
															.input-group
																input.form-control.calendario(type="text",tabindex="3", required)
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															input#relatorioAluno.form-control.btn.btn-danger(type="submit", value="Gerar Relatório", required)
					.tab-pane.fade#menu3
						.col-xs-12.col-sm-12.col-md-12
							.panel.panel-default
										.panel-heading
											.panel-title
												h4 Consultar Aulas do Veículo
												br
										.panel-body
											form#aulaAlunoForm(role="form", action="/aula/veiculo", method="POST")
												.row
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Veículo
															select.form-control#selVeic(name="cVeiculo",type="text",tabindex='4',required)
																option(value="", disabled, selected)
																each veiculo in lista_veiculo
																	option#optVeic(value="#{veiculo._id}") #{veiculo.nome + ' / '} #{veiculo.placa}
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Data Inicial
															.input-group
																input.form-control.calendario(type="text", tabindex="2", required)
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Data Final
															.input-group
																input.form-control.calendario(type="text",tabindex="3", required)
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															input#relatorioAluno.form-control.btn.btn-danger(type="submit", value="Gerar Relatório", required)