extends ../layout
block content
	.container.nav-top
		.panel.panel-default.panelPratico
			.panel-heading.text-center
				h3
					span.fa.fa-car  Aulas Práticas  
			.panel-body
				ul.nav.nav-tabs
					li.active(role="presentation")
						a(href="#main", data-toggle="tab") Agendamento de Aulas
					li(role="presentation")
						a(href="#menu1", data-toggle="tab") Profile
					li(role="presentation")
						a(href="#menu2", data-toggle="tab") Messages
					li(role="presentation")
						a(href="#menu3" data-toggle="tab") Settings
				.tab-content
					.tab-pane.active.fade.in#main
						.col-xs-12.col-sm-12.col-md-12
							.panel.panel-default
										.panel-heading
											.panel-title
												h4 Agendamento de Aulas
												br
											if messages.erro
												.alert.alert-danger#success-alert
													p #{messages.erro}
												br
											if messages.info
												.alert.alert-success#success-alert
													p #{messages.info}
												br
										.panel-body
											form(role="form", action="", method="")
												.row
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label CPF do Aluno
															.input-group
																input.form-control#cpf(type="text", value="",name="cpfAluno" ,placeholder="CPF")
																span.input-group-addon#searchAluno
																	span.glyphicon.glyphicon-search
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Instrutor
															select.form-control#selIns(value="" ,placeholder="Instrutor")
																option(value="", disabled, selected)
																each instrutor in lista_instrutor 
																	option#optIns(value="#{instrutor._id}") #{instrutor.nome}
													.col-xs-12.col-sm-8.col-md-3
														.form-group
															label Veículo
															select.form-control#selVeic(type="text")
																option(value="", disabled, selected)
																each veiculo in lista_veiculo
																	option#optVeic(value="#{veiculo._id}") #{veiculo.nome + ' / '} #{veiculo.placa}
							.row
								.col-xs-12.col-sm-12.col-md-12.afterAjax
									.panel.panel-danger
										.panel-heading
											.panel-title
												h4
													span.fa.fa-cogs   Dados da Aula	
										.panel-body
											.col-xs-12.col-sm-8.col-md-8
												.input-group.date
													//-input.form-control(type="text")#datetimepicker
													label Data
													input.calendario.form-control(type="text",readyonly)
											.col-xs-12.col-sm-8.col-md-8
												.panel.panel-default#horarios
													.panel-body
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="7:00")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="7:50")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="8:40")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="9:20")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="10:10")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="13:00")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="13:50")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="14:40")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="15:30")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="16:20")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="17:10")
														.col-xs-12.col-sm-4.col-md-4
															.form-group
																input.btn.btn-block.livre.hora(type="text",readonly, value="18:00")
											form#praticaForm(action="/agenda/aula/pratica", method="POST")
												.col-xs-12.col-sm-4.col-md-4
													.row.alunoPratico
														.col-xs-12.col-sm-12.col-md-12
															img#loadCalendar.img(src="../img/ajax-loader-calendar.gif")
															.form-group
																label Aluno:
																input.form-control(type="text", readonly,value="",required)#aluno
																input.shadowForm#al(type="hidden",name="aluno")
													.row.aulaPratica
														.col-xs-6.col-sm-6.col-md-6#aulaCarro
															img#loader.img(src="../img/ajaxLoader.gif")
															.form-group
																label Carro:
																input.form-control(type="text",value="", readonly, required)#aulasCarro
														.col-xs-6.col-sm-6.col-md-6#aulaMoto
															.form-group
																label Moto:
																input.form-control(type="text",value="", readonly, required)#aulasMoto
													.row.instrutorPratico
														.col-xs-6.col-sm-6.col-md-12
															.form-group
																label Instrutor:
																input.form-control(type="text",value="", readonly, required)#instrutor
																input.shadowForm#ins(type="hidden",name="instrutor")
													.row.veiculoPratico
														.col-xs-6.col-sm-6.col-md-12
															.form-group
																label Veículo:
																input.form-control(type="text",value="", readonly, required)#veiculo
																input.shadowForm#veic(type="hidden",name="veiculo")
													.row.dataAula
														.col-xs-6.col-sm-6.col-md-12
															.form-group
																label Data Aula:
																input.form-control(name="data",type="text",value="", readonly, required)#data
																input(type="hidden")#dataMongo
																
													.row
														.col-xs-12.col-sm-12.col-md-12
															button.btn.btn-danger.btn-lg.btn-block#confAulaPr(type="submit", value="Confirmar Aula") Confirmar Aula
											
														

						
							
					.tab-pane.fade#menu1
						h3 Profile
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto error similique hic dolorem cumque eius delectus exercitationem dicta ipsa, inventore, voluptatibus fugiat quasi quos. Voluptatem vitae quibusdam blanditiis rerum necessitatibus.
					.tab-pane.fade#menu2
						h3 Messages
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ipsa, officiis expedita et odio qui. Facilis minima, unde sapiente cupiditate pariatur, laboriosam aliquam quaerat, doloremque aut in consectetur amet non.
					.tab-pane.fade#menu3
						h3 Settings
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis cum dicta adipisci consectetur aspernatur, eius necessitatibus voluptatem qui vero soluta magnam harum quod nemo pariatur impedit a vel itaque. Asperiores.	