extends ../layout
block content
	section.container.nav-top.panelPratico
		.panel.panel-default
			.panel-heading.text-center
				h3
					span.fa.fa-book  Aulas Tóricas  
			.panel-body
				ul.nav.nav-tabs.red
					li.active(role="presentation")
						a(href="#mainTeorico", data-toggle="tab") Agendamento
					li
						a(href="/cronograma") Pacotes
					li(role="presentation")
						a(href="#menuT2", data-toggle="tab") Aulas do Instrutor
					li(role="presentation")
						a(href="#menuT3" data-toggle="tab") Aulas do Veículo
				.tab-content
					.tab-pane.active.fade.in#mainTeorico

						.panel.panel-info
							.panel-heading
								h4 Aulas Teóricas
							.panel-body
								if messages.erro
									.alert.alert-danger#success-alert
										p #{messages.erro}
									br
								if messages.info
									.alert.alert-success#success-alert
										p #{messages.info}
									
								.row
									form#formT(action="/buscar/teoricas", method="POST")
										.col-xs-12.col-sm-4.col-md-6
											select.form-control#aluno(name="alunos", placeholder="Aluno")
												option(disabled, selected) #{name || "Alunos"}
													each a in aluno
														option(value="#{a._id}") #{a.nome} &nbsp; CPF: #{a.cpf}
										.col-xs-12.col-sm-2.col-md-2
											input.form-control.calendario#dIni(type="text",name="dIni", placeholder="Data Inicial",value="#{ini || ''}")
										.col-xs-12.col-sm-2.col-md-2
											input.form-control.calendario#dFim(type="text",name="dFim", placeholder="Data Final",value="#{fim || ''}")
										.col-xs-12.col-sm-4.col-md-2
												input.btn-danger.form-control.text-center#listTeorico(type="submit", value="Buscar")
								br
								.row#gradeTeorica
									.col-xs-12.col-sm-12.col-md-12
										if teorico.length > 0
											.table-responsive
												table.table.table-hover#teoricoTable
													thead
														tr
															th Check
															th Data
															th Inicio
															th Termino
															th Instrutor
															th Disciplina
													tbody
														each t in teorico
															tr
																td
																	input(type="checkbox",name="ch",id="#{t._id}" )
																td #{moment(t.data).format('DD/MM/YYYY')}
																td #{t.horaIni}
																td #{t.horaFim}
																td #{t._instrutor.nome}
																td #{t.disciplina}
											form#aT(action="/aulas/teoricas", method="GET")
												.col-xs-2.col-sm-2.col-md-2
													input.btn-success.form-control.text-center#agendarT(type="submit", value="Agendar")


					.tab-pane.fade#menuT1
							.panel.panel-info
								.panel-heading
									.panel-title
										h4 Pacote de Aulas Teóricas
								.panel-body
									


						