extends ../layout
block content
	section.container.nav-top
		.panel.panel-default
			.panel-heading.text-center
				h3
					span.fa.fa-car  Aulas Práticas do Veículo:
					if dados.length > 0 
						span &nbsp; 
							b #{dados[0]._veiculo.nome}
			.panel-body
				br
				br
				if messages.erro
					.alert.alert-danger#success-alert
						p #{messages.erro}
					br
				if messages.info
					.alert.alert-success#success-alert
						p #{messages.info}
					br
				if dados.length > 0
					.table-responsive
						table.table.table-hover
							thead
								tr
									th Data
									th Aluno
									th Renach
									th Celular
									th Instrutor
									th Categoria
							tbody
								each i in dados
									tr
										td #{moment(i.data).format('DD/MM/YYYY HH:mm')}
										td #{i._aluno.nome}
										td #{i._aluno.renach}
										td #{i._aluno.telefones.cel}
										td #{i._instrutor.nome}
										td #{i._veiculo.categoria}
						h3
							a(href="/aulas/praticas")
								span.fa.fa-arrow-left   Voltar
				else
					p Nenhum registro encontrado.
					h3
							a(href="/aulas/praticas")#vVeiculo
								span.fa.fa-arrow-left   Voltar