extends ../layout
block content
		section.container.nav-top
				.panel.panel-default
					.panel-heading.text-center
						h3
							span.fa.fa-user-plus  Cadastro de Funcionários  
						
					.panel-body
						form.col-md-10.col-md-offset-1.col-xs-12.col-xs-offset-0(action="/cadastro", method="post",role="form")
							if messages.erro
								.alert.alert-danger
									each msg in messages.erro
										b=msg
										br
								br
							.row
								.col-xs-12.col-sm-6.col-md-6
									.form-group
										input.form-control(type="text", name="nome",placeholder="Nome",value="#{usuario.nome || ''}", tabindex="1", required)
								.col-xs-12.col-sm-6.col-md-6
									.form-group
										input.form-control(type="text", name="sobrenome",value="#{usuario.sobrenome || ''}",placeholder="Sobrenome", tabindex="2",required)
							.form-group
								input.form-control(type="email", name="email",value="#{usuario.email || ''}",placeholder="Email", tabindex="3",required)
							.row
								.col-xs-12.col-sm-6.col-md-6
									.form-group
										input.form-control(type="text", name="rg",value="#{usuario.rg || ''}", placeholder="RG", tabindex="4",required)
								.col-xs-12.col-sm-6.col-md-6
									.form-group
										input.form-control#cpf(type="text",name="cpf",value="#{usuario.cpf || ''}", placeholder="CPF", tabindex="5",required )
							.row
								.col-xs-12.col-sm-6.col-md-6
									.form-group
										input.form-control.fone(type="text" name="fone",value="#{usuario.fone || ''}",placeholder="Fone Residencial", tabindex="6",required)
								.col-xs-12.col-sm-6.col-md-6
									.form-group
										input.form-control.fone(type="text", name="cel",value="#{usuario.cel || ''}", placeholder="Celular", tabindex="7",required)
							.row
								.col-xs-12.col-sm-6.col-md-6
									.radio-inline
										input(type="radio", name="optradio", value="Administrador", tabindex="8", required)
										label Administrador
								.col-xs-12.col-sm-6.col-md-6
									.radio-inline
										input(type="radio", name="optradio", value="Instrutor", tabindex="9", required)
										label Instrutor
							.row#onlyInstrutor
								.col-xs-12.col-sm-6.col-md-6
									.form-group
										input.form-control(type="text", name="credencial", value="", placeholder="Credencial")
								.col-xs-12.col-sm-6.col-md-6
									.form-group
										input.form-control(type="text", name="categoria", value="", placeholder="Categoria")
							//- .form-group
							//- 	select(name="setor", placeholder="Setor de Atuação", tabindex="8",required).form-control
							//- 		option(value="", disabled selected) Escolha
							//- 		option(value="Instrutor") Instrução
							//- 		option(value="Administração") Administração
							.row
								.col-xs-12.col-sm-6.col-md-6
									.form-group
										input.form-control(type="password", name="senha",placeholder="Senha" tabindex="10")
								.col-xs-12.col-sm-6.col-md-6
									.form-group
										input.form-control(type="password", name="confirma_senha",placeholder="Confirmar Senha", tabindex="11")
							button.btn.btn-danger.btn-lg.btn-block(type="submit", tabindex="12") Cadastrar
							h3
								a(href="/usuarios")
									span.fa.fa-arrow-left   Voltar
