extends ../layout
block content
	section.container.nav-top
		.panel.panel-default
			.panel-heading.text-center
				h3
					span.fa.fa-users  Usuários
			.panel-body
				a.btn.btn-danger(href="/cadastro") Cadastrar
				br
				br
				if messages.erro
					.alert.alert-danger#success-alert
						p #{messages.erro}
					br
				if messages.info
					.alert.alert-success#success-alert
						p #{messages.info}
					br
				if lista.length > 0
					.table-responsive
						table.table.table-striped#listar-usuarios
							thead
								tr
									th Nome:
									th E-mail
									th Data do cadastro
									th Cargo
									th Ações
							tbody
								each valor in lista
									tr
										td #{valor.nome}
										td #{valor.email}
										td #{moment(valor.data_cad).format('DD/MM/YYYY HH:MM:ss')}
										td #{valor.setor}
										td
											a.btn.btn-danger(href="/usuarios/listar/#{valor._id}")
												span.glyphicon.glyphicon-search
											span &nbsp;
				else
					p Nenhum registro encontrado!

