extends ../layout
block content
	.container.nav-top
			.panel.panel-default
				.panel-heading.text-left
					br
					h3 #{dados.nome} #{dados.sobrenome}
					hr
					p
						span
							b  RG: #{dados.rg}
					p
					p
						span
							b  CPF: #{dados.cpf}
					p
					p
						span.fa.fa-envelope
							b  Email: #{dados.email}
					p
						span.fa.fa-bank
							b  Cargo:  #{dados.setor}
					p
						span.fa.fa-phone
							b  Fone:  #{dados.fone}
					p
						span.fa.fa-calendar-times-o
							b  Data de Cadastro: #{moment(dados.data_cad).format('DD/MM/YYYY HH:MM:ss')}
					br
					form(method="POST",action="/usuarios/excluir/#{dados._id}", role="form", id="excluir-user")
						button(type="submit", class="btn btn-danger" id="myBtn") Excluir
					br
					a(href="/usuarios") Voltar
block scripts
	//- script(type="text/javascript").
	//- 	$(function(){
	//- 		$('#excluir-user').submit(function(){
	//- 			var pergunta = confirm('Deseja realmente excluir?');
	//- 			if(!pergunta){
	//- 				return false;
	//- 			}
	//- 		});
	//- 	});