extends ../layout
block content
	section.container
		div.page-header.text-center
			if messages.erro
					.alert.alert-danger#success-alert
						p #{messages.erro}
					br
				if messages.info
					.alert.alert-success#success-alert
						p #{messages.info}
					br
		div.row
			div.col-sm-6
				div.well
					h3
						span.fa.fa-user  Olá, #{session.nome.split(' ')[0]}
					br
					p
						span.fa.fa-envelope  #{session.email}
					p
						span.fa.fa-black-tie  #{session.setor}
					br
					a.btn.btn-danger.btn-sm(href="/logout") Sair

