extends ../layout
block content
	section.container.nav-top
		.panel.panel-default
			.panel-heading.text-center
				h3
					span.fa.fa-users  Alunos
			.panel-body
				a.btn.btn-danger(href="/cadastro/aluno") Cadastrar
				br
				br
				if messages.erro
					.alert.alert-danger#success-alert
						p #{messages.erro}
					br
				if messages.info
					.alert.alert-success#success-alert
						p #{messages.info}
					br
				if lista.length > 0
					.table-responsive
						table.table.table-striped.listar-usuarios 
							thead
								tr
									th Nome:
									th Renach:
									th CPF:
									th Data de Nascimento:
									th Fone 1
									th Fone 2.
									th Fone Opc.
									th Visualizar
							tbody
								each valor in lista
									tr
										td #{valor.nome}
										td #{valor.renach}
										td #{valor.cpf}
										td #{moment(valor.nasc).format('DD/MM/YYYY')}
										td #{valor.telefones.cel}
										td #{valor.telefones.res}
										td #{valor.telefones.opc}
										td 
											a.btn(href="/alunos/listar/#{valor._id}")
												span.glyphicon.glyphicon-search
				else
					p Nenhum registro encontrado!
